#bio_image {
    width: 200px;
    height: 200px;
    float: left;
}

body {
    background: url("./white-waves.png")
}

.container {
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    background: white;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    font-weight: bold;
}

.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: teal;
    color: white;
    font-size: 28px;
    padding: 20px;
    font-weight: bold;
}

.navbar .navbar-brand .navbar-toggler .navbar-toggler-icon .collapse .navbar-nav .nav-item .nav-link {
    display: inline-block;
}

p {
    margin: 20px;
}

img {
    margin: 20px;
}


.input-group .input-group-prepend .input-group-text, .input-group #message {
    height: 200px;
}

#portfolio_img {
    width: 300px;
    height: 200px;
}

h3 {
    float: left;
    background: teal;
    color: white;
    width: 300px;
    height: 50px;
    text-align: center;
    position: relative;
    bottom: 100px;
    left: 20px;
}

h3 {
        float: left;
        background: teal;
        color: white;
        width: 300px;
        height: 50px;
        text-align: center;
        position: relative;
        bottom: 100px;
        left: 20px;
}

.navbar .navbar-brand {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.collapse .navbar-nav .nav-item .nav-link {
    float: right;
    position: relative;
    right: 0px;
}

h4 {
    font-size: 12px;
    color: gray;
}

footer {
    background: #666666;
    height: 40px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.submit-button .btn {
    background: teal;
}

/* .input-group .input-group-prepend .input-group-text { */
    /* height: 500px; */
/* } */

/* id="inputGroup-sizing-sm" */